.card {
  position: relative;
  perspective: 150rem;
  -moz-perspective: 150rem;
  height: 52rem;

  // Funcionality
  &__side {
    position: absolute;
    left: 0;
    top: 0;
    height: 52rem;
    width: 100%;
    transition: all 0.8s ease;
    backface-visibility: hidden;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(#000000, 0.15rem);
    overflow: hidden;

    &--front {
      background-color: #ffffff;
    }

    &--back {
      transform: rotateY(180deg);

      &-1 {
        background-image: linear-gradient(to right bottom, $secondary-light, $secondary-dark);
      }

      &-2 {
        background-image: linear-gradient(to right bottom, $primary-light, $primary-dark);
      }

      &-3 {
        background-image: linear-gradient(to right bottom, $tertiary-light, $tertiary-dark);
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }

  // Front side
  &__picture {
    height: 23rem;
    background-size: cover;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    &--1 {
      background-image: linear-gradient(to right bottom, $secondary-light, $secondary-dark), url("../img/nat-5.jpg");
    }

    &--2 {
      background-image: linear-gradient(to right bottom, $primary-light, $primary-dark), url("../img/nat-6.jpg");
    }

    &--3 {
      background-image: linear-gradient(to right bottom, $tertiary-light, $tertiary-dark), url("../img/nat-7.jpg");
    }
  }

  &__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-align: right;
    text-transform: uppercase;
    width: 75%;
    color: #ffffff;
    position: absolute;
    top: 12rem;
    right: 2rem;
  }

  &__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;

    &--1 {
      background-image: linear-gradient(to right bottom, rgba($secondary-light, 0.85), rgba($secondary-dark, 0.85));
    }

    &--2 {
      background-image: linear-gradient(to right bottom, rgba($primary-light, 0.85), rgba($primary-dark, 0.85));
    }

    &--3 {
      background-image: linear-gradient(to right bottom, rgba($tertiary-light, 0.85), rgba($tertiary-dark, 0.85));
    }
  }

  &__details {
    padding: 3rem;

    ul {
      list-style: none;
      width: 80%;
      margin: 0 auto;

      li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;

        &:not(:last-child) {
          border-bottom: 1px solid #eeeeee;
        }
      }
    }
  }

  // Back side
  &__cta {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
  }

  &__price-box {
    margin-bottom: 8rem;
    color: #ffffff;
  }

  &__price-only {
    font-size: 1.4rem;
    text-transform: uppercase;
  }

  &__price-value {
    font-size: 6rem;
    font-weight: 100;
  }
}
