body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777777;
}

.heading {
  &-primary {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 400;
    backface-visibility: hidden;
    margin-bottom: 6rem;
  }

  &-primary {
    &--main {
      display: block;
      font-size: 6rem;
      letter-spacing: 3.5rem;
      animation: moveInLeft 3s ease-in-out;
    }

    &--sub {
      display: block;
      font-size: 2rem;
      letter-spacing: 1.75rem;
      animation: moveInRight 3s ease-in-out;
    }
  }

  &-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    background-image: linear-gradient(to right, $primary-light, $primary-dark);
    display: inline-block;
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 0.2rem;
    transition: all 0.2s;

    &:hover {
      transform: skewY(2deg) skewX(15deg) scale(1.1);
      text-shadow: 0.5rem 1rem 2rem rgba(#000000, 0.2);
    }
  }

  &-tertiary {
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.paragraph {
  font-size: $default-font-size;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
